<a href="https://colab.research.google.com/github/SachinSouravJha/Machine-Learning-Basics/blob/master/Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!wget https://www.dropbox.com/s/pxw4ps4xeqgyzr8/Year_wise_batting_stats_all_ODI_players%2820-12-19%29.csv?dl=0

--2020-03-09 19:51:24--  https://www.dropbox.com/s/pxw4ps4xeqgyzr8/Year_wise_batting_stats_all_ODI_players%2820-12-19%29.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.1, 2620:100:601f:1::a27d:901
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/pxw4ps4xeqgyzr8/Year_wise_batting_stats_all_ODI_players%2820-12-19%29.csv [following]
--2020-03-09 19:51:24--  https://www.dropbox.com/s/raw/pxw4ps4xeqgyzr8/Year_wise_batting_stats_all_ODI_players%2820-12-19%29.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc56c81ac53530aeff63a75d1024.dl.dropboxusercontent.com/cd/0/inline/AzlrMoP6QxVS_K4RcspWbgdLDuti5r5-IIfqpaK_MRGEmICU9b0b8UPVVqVcNyzF5Rijv24dLEOfbzV8MDa9ar0B6uwm54p46yTeUeMfv8AuVWj_T6b6JS2bVr_0_dsa38M/file# [following]
--2020-03-09 19:51:24--  https://uc56c81ac53530aeff63a75d1024.dl.dropboxusercontent.com/cd/0/inline/AzlrMoP6QxVS_K4RcspWbgdLDuti5r5-IIfqpaK_MRGEmICU9b0b8UPVVqVcNyzF5Rijv24dLEOfbzV8MDa9ar0B6uwm54p46yTeUeMfv8AuVWj_T6b6JS2bVr_0_dsa38M/file
Resolving uc56c81ac53530aeff63a75d1024.dl.dropboxusercontent.com (uc56c81ac53530aeff63a75d1024.dl.dropboxusercontent.com)... 162.125.9.6, 2620:100:601f:6::a27d:906
Connecting to uc56c81ac53530aeff63a75d1024.dl.dropboxusercontent.com (uc56c81ac53530aeff63a75d1024.dl.dropboxusercontent.com)|162.125.9.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 764617 (747K) [text/plain]
Saving to: ‘Year_wise_batting_stats_all_ODI_players(20-12-19).csv?dl=0’

Year_wise_batting_s 100%[===================>] 746.70K  --.-KB/s    in 0.1s

2020-03-09 19:51:25 (6.71 MB/s) - ‘Year_wise_batting_stats_all_ODI_players(20-12-19).csv?dl=0’ saved [764617/764617]

In [5]:
!ls

'AABIWksO6vwZnzxQOMQnEFBAa?dl=0'
 sample_data
'Year_wise_batting_stats_all_ODI_players(20-12-19).csv?dl=0'

In [0]:
import pandas as pd
stats = pd.read_csv('Year_wise_batting_stats_all_ODI_players(20-12-19).csv?dl=0')

In [246]:
stats.head()

  country     player_name  0s  100s  50s  ...  NO  Runs    S/R  St     Year
0     AFG  Najeeb Tarakai   0     0    0  ...   0     5  27.78   0     2017
1     AFG  Najeeb Tarakai   0     0    0  ...   0     5  27.78   0  Overall
2     AFG  Naveen -ul-Haq   0     0    0  ...   1     0    NaN   0     2016
3     AFG  Naveen -ul-Haq   0     0    0  ...   1     9  45.00   0     2019
4     AFG  Naveen -ul-Haq   0     0    0  ...   2     9  42.86   0  Overall

[5 rows x 15 columns]

In [247]:
stats1 = stats[stats['Year']!="Overall"]
stats1.head()

  country     player_name  0s  100s  50s   Avg  ...  Mat NO  Runs    S/R  St  Year
0     AFG  Najeeb Tarakai   0     0    0   5.0  ...    1  0     5  27.78   0  2017
2     AFG  Naveen -ul-Haq   0     0    0   NaN  ...    2  1     0    NaN   0  2016
3     AFG  Naveen -ul-Haq   0     0    0   9.0  ...    2  1     9  45.00   0  2019
5     AFG  Zakiullah Zaki   0     0    0   NaN  ...    1  1     3  13.64   0  2012
7     AFG     Usman Ghani   1     1    2  39.5  ...    8  0   316  78.61   0  2014

[5 rows x 15 columns]

In [248]:
stats1["Avg"] = stats1["Avg"].fillna(0)
stats1["S/R"] = stats1["S/R"].fillna(0)
stats1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  country     player_name  0s  100s  50s   Avg  ...  Mat NO  Runs    S/R  St  Year
0     AFG  Najeeb Tarakai   0     0    0   5.0  ...    1  0     5  27.78   0  2017
2     AFG  Naveen -ul-Haq   0     0    0   0.0  ...    2  1     0   0.00   0  2016
3     AFG  Naveen -ul-Haq   0     0    0   9.0  ...    2  1     9  45.00   0  2019
5     AFG  Zakiullah Zaki   0     0    0   0.0  ...    1  1     3  13.64   0  2012
7     AFG     Usman Ghani   1     1    2  39.5  ...    8  0   316  78.61   0  2014

[5 rows x 15 columns]

In [249]:
Unique = stats.player_name.unique()
Unique

array(['Najeeb Tarakai', 'Naveen -ul-Haq', 'Zakiullah Zaki', ...,
       'Babu Meman', 'Vincent Hogg', 'John Rennie'], dtype=object)

In [250]:
stats1["Avg"] = stats1["Avg"]-stats["NO"]
stats1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  country     player_name  0s  100s  50s   Avg  ...  Mat NO  Runs    S/R  St  Year
0     AFG  Najeeb Tarakai   0     0    0   5.0  ...    1  0     5  27.78   0  2017
2     AFG  Naveen -ul-Haq   0     0    0  -1.0  ...    2  1     0   0.00   0  2016
3     AFG  Naveen -ul-Haq   0     0    0   8.0  ...    2  1     9  45.00   0  2019
5     AFG  Zakiullah Zaki   0     0    0  -1.0  ...    1  1     3  13.64   0  2012
7     AFG     Usman Ghani   1     1    2  39.5  ...    8  0   316  78.61   0  2014

[5 rows x 15 columns]

In [251]:
gradient = 2.5
Year_Dict = {}
for i in range(1971,2020):
  Year_Dict[i] = gradient
  gradient = gradient-0.035
print(Year_Dict)

{1971: 2.5, 1972: 2.465, 1973: 2.4299999999999997, 1974: 2.3949999999999996, 1975: 2.3599999999999994, 1976: 2.3249999999999993, 1977: 2.289999999999999, 1978: 2.254999999999999, 1979: 2.219999999999999, 1980: 2.1849999999999987, 1981: 2.1499999999999986, 1982: 2.1149999999999984, 1983: 2.0799999999999983, 1984: 2.044999999999998, 1985: 2.009999999999998, 1986: 1.974999999999998, 1987: 1.9399999999999982, 1988: 1.9049999999999983, 1989: 1.8699999999999983, 1990: 1.8349999999999984, 1991: 1.7999999999999985, 1992: 1.7649999999999986, 1993: 1.7299999999999986, 1994: 1.6949999999999987, 1995: 1.6599999999999988, 1996: 1.624999999999999, 1997: 1.589999999999999, 1998: 1.554999999999999, 1999: 1.5199999999999991, 2000: 1.4849999999999992, 2001: 1.4499999999999993, 2002: 1.4149999999999994, 2003: 1.3799999999999994, 2004: 1.3449999999999995, 2005: 1.3099999999999996, 2006: 1.2749999999999997, 2007: 1.2399999999999998, 2008: 1.2049999999999998, 2009: 1.17, 2010: 1.135, 2011: 1.1, 2012: 1.0650000000000002, 2013: 1.0300000000000002, 2014: 0.9950000000000002, 2015: 0.9600000000000002, 2016: 0.9250000000000002, 2017: 0.8900000000000001, 2018: 0.8550000000000001, 2019: 0.8200000000000001}

In [252]:
stats2 = stats1[stats1['Inns']>10]
stats2.head()

   country           player_name  0s  100s  50s  ...  NO  Runs    S/R  St  Year
12     AFG           Karim Sadiq   3     1    0  ...   2   235  74.13   0  2010
39     AFG  Hashmatullah Shahidi   1     0    4  ...   1   387  63.44   0  2019
87     AFG           Rahmat Shah   1     1    5  ...   1   551  70.10   0  2017
88     AFG           Rahmat Shah   0     1    6  ...   0   722  74.74   0  2018
89     AFG           Rahmat Shah   1     1    4  ...   0   646  68.58   0  2019

[5 rows x 15 columns]

In [0]:
scaled_features = stats2.copy()

In [0]:
from sklearn.preprocessing import MinMaxScaler
col_names = ['Avg', 'S/R']
features = scaled_features[col_names]
scaler = MinMaxScaler().fit(features.values)
features = scaler.transform(features.values)

In [233]:
scaled_features[col_names] = features
scaled_features.head()

  country           player_name  0s  100s  50s  ...  NO  Runs       S/R  St  Year
0     AFG           Karim Sadiq   3     1    0  ...   2   235  0.417258   0  2010
1     AFG  Hashmatullah Shahidi   1     0    4  ...   1   387  0.357087   0  2019
2     AFG           Rahmat Shah   1     1    5  ...   1   551  0.394574   0  2017
3     AFG           Rahmat Shah   0     1    6  ...   0   722  0.420691   0  2018
4     AFG           Rahmat Shah   1     1    4  ...   0   646  0.386018   0  2019

[5 rows x 15 columns]

In [219]:
stats2.player_name.value_counts()

Sachin Tendulkar      20
Sanath Jayasuriya     18
Shahid Afridi         18
Mahela Jayawardene    17
Kumar Sangakkara      16
                      ..
Asela Gunaratne        1
Tim Southee            1
Akram Raza             1
Michael Veletta        1
Trent Johnston         1
Name: player_name, Length: 677, dtype: int64

In [220]:
(stats2['player_name']=='Rahmat Shah').sum()

3

In [253]:
stats2.reset_index(drop=True, inplace=True)
stats2.head()

  country           player_name  0s  100s  50s  ...  NO  Runs    S/R  St  Year
0     AFG           Karim Sadiq   3     1    0  ...   2   235  74.13   0  2010
1     AFG  Hashmatullah Shahidi   1     0    4  ...   1   387  63.44   0  2019
2     AFG           Rahmat Shah   1     1    5  ...   1   551  70.10   0  2017
3     AFG           Rahmat Shah   0     1    6  ...   0   722  74.74   0  2018
4     AFG           Rahmat Shah   1     1    4  ...   0   646  68.58   0  2019

[5 rows x 15 columns]

In [254]:
stats2.shape

(2440, 15)

In [255]:
impact = {}
experience = 1
for i in range(2440): 
  career = (stats2['player_name']==stats2.loc[i, "player_name"]).sum()
  if(career<4):
    experience = 0
  elif(career<8):
    experience = 0.6
  elif(career<12):
    experience = 0.8
  elif(career<16):
    experience = 1.0
  elif(career<16):
    experience = 1.2
  else:
    experience = 1.4
  if stats2.loc[i, "player_name"] in impact.keys(): 
    impact[stats2.loc[i, "player_name"]] += ((stats2.loc[i, "Avg"]*((stats2.loc[i, "S/R"])/3))/career)*experience
  else:
    impact[stats2.loc[i, "player_name"]] = ((stats2.loc[i, "Avg"]*((stats2.loc[i, "S/R"]/3)))/career)*experience
print(impact)

{'Karim Sadiq': 0.0, 'Hashmatullah Shahidi': 0.0, 'Rahmat Shah': 0.0, 'Asghar Afghan': 323.4046466666666, 'Samiullah Shinwari': 0.0, 'Hazratullah Zazai': 0.0, 'Mirwais Ashraf': 0.0, 'Ihsanullah': 0.0, 'Rashid Khan': 0.0, 'Najibullah Zadran': 0.0, 'Gulbadin Naib': 0.0, 'Ikram Ali Khil': 0.0, 'Mohammad Nabi': 438.20388285714284, 'Nawroz Mangal': 0.0, 'Andy Bichel': 0.0, 'Graeme Wood': 426.36879999999996, 'James Hopes': 0.0, 'Kim Hughes': 300.910452, 'Phillip Hughes': 0.0, 'Bradley Hodge': 0.0, 'Shaun Marsh': 0.0, 'Adam Voges': 0.0, 'Wayne Phillips': 0.0, 'Shane Lee': 0.0, 'Michael Veletta': 0.0, 'Ian Healy': 309.9744657142857, 'Greg Matthews': 0.0, 'Geoff Marsh': 456.3281266666667, 'Bruce Laird': 0.0, 'Steve Smith': 0.0, 'Tim Paine': 0.0, 'Usman Khawaja': 0.0, 'Mitchell Marsh': 0.0, 'Michael Bevan': 925.820336, 'Dean Jones': 855.472494814815, 'Shane Warne': 142.109965, 'Rod Marsh': 0.0, 'Patrick Cummins': 0.0, 'Michael Slater': 0.0, 'Cameron White': 0.0, 'John Hastings': 0.0, 'Tom Moody': 0.0, 'Rodney Hogg': 0.0, 'Greg Blewett': 0.0, 'David Boon': 620.2124829629631, 'Matthew Hayden': 689.318188, 'Brendon Julian': 0.0, 'Darren Lehmann': 663.1324149999999, 'Paul Reiffel': 0.0, 'Greg Chappell': 0.0, 'Geoff Lawson': 0.0, 'Marcus Stoinis': 0.0, 'Ian Harvey': 0.0, 'David Warner': 979.1380040000001, 'Clinton McKay': 0.0, 'Timothy Zoehrer': 0.0, 'Mark Waugh': 764.2699893333335, 'Damien Martyn': 888.3478533333333, 'Matthew Wade': 0.0, 'Michael Clarke': 856.1057896296297, 'Brad Hogg': 0.0, 'Daniel Christian': 0.0, 'David Hussey': 0.0, 'Glenn Maxwell': 785.5249200000001, 'Ricky Ponting': 1104.606471111111, 'Mitchell Johnson': 0.0, 'Michael Hussey': 1255.27467, 'Travis Head': 0.0, 'Brett Lee': 262.81828, 'Alex Carey': 0.0, 'Simon Katich': 0.0, 'George Bailey': 680.12725, 'Shane Watson': 910.9226766666668, 'Steve Waugh': 759.2576977777779, 'Brad Haddin': 0.0, 'Adam Gilchrist': 922.4400048484849, 'Nathan Hauritz': 0.0, 'Craig McDermott': 0.0, "Simon O'Donnell": 0.0, 'Greg Ritchie': 0.0, 'Aaron Finch': 705.4651966666668, 'Peter Handscomb': 0.0, 'Allan Border': 714.6844428571428, 'Mark Taylor': 429.16576, 'Dirk Wellham': 0.0, 'Andrew Symonds': 716.9686857142857, 'Peter Forrest': 0.0, 'Stuart Law': 0.0, 'James Faulkner': 0.0, 'David Hookes': 0.0, 'Callum Ferguson': 0.0, 'Anamul Haque': 0.0, 'Aminul Islam': 0.0, 'Sanwar Hossain': 0.0, 'Tapash Baisya': 0.0, 'Mehidy Hasan': 0.0, 'Shakib Al Hasan': 815.6707200000001, 'Abdur Razzak': 99.083592, 'Farhad Reza': 0.0, 'Rajin Saleh': 0.0, 'Mominul Haque': 0.0, 'Mashrafe Mortaza': 225.16312333333335, 'Tamim Iqbal': 838.5939555555557, 'Nasir Hossain': 0.0, 'Mohammad Rafique': 160.15808400000003, 'Tushar Imran': 0.0, 'Liton Das': 0.0, 'Al Sahariar Rokon': 0.0, 'Aftab Ahmed': 0.0, 'Mushfiqur Rahman': 0.0, 'Soumya Sarkar': 0.0, 'Alok Kapali': 0.0, 'Manjural Islam Rana': 0.0, 'Mohammad Ashraful': 409.76779666666675, 'Hannan Sarkar': 0.0, 'Shahriar Nafees': 365.28540999999996, 'Khaled Mashud': 277.962444, 'Mahmudullah': 616.6937066666667, 'Sabbir Rahman': 0.0, 'Khaled Mahmud': 158.98225499999998, 'Shafiul Islam': 0.0, 'Naeem Islam': 0.0, 'Imrul Kayes': 0.0, 'Dhiman Ghosh': 0.0, 'Mushfiqur Rahim': 745.024448, 'Habibul Bashar': 266.66141999999996, 'David Hemp': 0.0, 'Lionel Cann': 0.0, 'Saleem Mukuddem': 0.0, 'Janeiro Tucker': 0.0, 'Irvine Romaine': 0.0, 'Ashif Mulla': 0.0, 'John Davison': 0.0, 'Abdool Samad': 0.0, 'Sunil Dhaniram': 0.0, 'Ashish Bagai': 0.0, 'Anderson Cummins': 0.0, 'Michael Vaughan': 354.33173, 'Charles Athey': 0.0, 'Nicholas Knight': 538.3225766666666, 'Jos Butler': 928.9538885714285, 'Chris Jordan': 0.0, 'Nasser Hussain': 0.0, 'Victor Marks': 0.0, 'Paul Nixon': 0.0, 'James Tredwell': 0.0, 'Jonathan Trott': 0.0, 'Ian Bell': 834.2333433333333, 'Robert Croft': 0.0, 'Ed Joyce': 0.0, 'Derek Randall': 0.0, 'Graeme Hick': 572.7835160000001, 'Timothy Bresnan': 0.0, 'Vikram Solanki': 0.0, 'Graham Gooch': 487.93044499999996, 'Jason Roy': 949.5491160000001, 'Geraint Jones': 0.0, 'Andrew Strauss': 582.4848571428571, 'Moeen Ali': 536.7142566666666, 'Ian Gould': 0.0, 'Alexander Hales': 787.79229, 'David Gower': 0.0, 'Andy Caddick': 0.0, 'Ronald Irani': 0.0, 'Liam Plunkett': 0.0, 'Jack Richards': 0.0, 'Neil Fairbrother': 0.0, 'Ravinda Bopara': 406.1725866666666, 'Chris Lewis': 0.0, 'Ben Stokes': 873.0176650000001, 'Craig White': 0.0, 'Jonny Bairstow': 0.0, 'Neil Foster': 0.0, 'Luke Wright': 0.0, 'Mark Ealham': 0.0, 'Chris Tavare': 0.0, 'Eoin Morgan': 1198.2580333333333, 'Graeme Swann': 0.0, 'Michael Atherton': 0.0, 'Adam Hollioake': 0.0, 'Graham Thorpe': 0.0, 'James Taylor': 0.0, 'John Emburey': 0.0, 'Andrew Flintoff': 632.478672, 'Phillip De Freitas': 0.0, 'James Anderson': -0.0, 'Mike Gatting': 0.0, 'Matthew Prior': 0.0, 'Darren Gough': 0.0, 'Geoff Boycott': 0.0, 'Joe Root': 870.8041800000001, 'Stuart Broad': 0.0, 'Gavin Hamilton': 0.0, 'Chris Broad': 0.0, 'Allan Lamb': 494.7993349999999, 'Chris Woakes': 0.0, 'Marcus Trescothick': 602.9429333333334, 'Alastair Cook': 570.02968, 'Craig Kieswetter': 0.0, 'Michael Yardy': 0.0, 'Kevin Pietersen': 774.1316599999999, 'Paul Collingwood': 658.2162133333333, 'Robin Smith': 0.0, 'Mike Brearley': 0.0, 'Alec Stewart': 516.2345, 'James Dalrymple': 0.0, 'Sir Ian Botham': 303.47016499999995, 'Owais Shah': 0.0, 'Yusuf Pathan': 0.0, 'Rohit Sharma': 1116.2259413333334, 'Kris Srikkanth': 359.0182057142856, 'Javagal Srinath': 157.97327, 'Zaheer Khan': 0.0, 'Sourav Ganguly': 742.6527306666669, 'Sunil Gavaskar': 533.7603999999999, 'Ajay Jadeja': 446.86392571428576, 'Abey Kuruvilla': -0.0, 'Parthiv Patel': 0.0, 'Ravichandran Ashwin': 0.0, 'Hardik Pandya': 0.0, 'Gautam Gambhir': 729.0276799999999, 'Hemang Badani': 0.0, 'Rahul Dravid': 835.1679805555557, 'Lakshmipathy Balaji': 0.0, 'Kapil Dev': 540.646472, 'Roger Binny': 0.0, 'Virat Kohli': 1544.0268177777778, 'Syed Kirmani': 0.0, 'Anil Kumble': 75.31765, 'Axar Patel': 0.0, 'M S Dhoni': 1360.355941025641, 'Raman Lamba': 0.0, 'Sadagopan Ramesh': 0.0, 'Irfan Pathan': 324.458755, 'Kedar Jadhav': 0.0, 'Harbhajan Singh': 170.85040285714285, 'Ravishankar Shastri': 326.72257428571424, 'Ajit Agarkar': 223.19335499999997, 'Virender Sehwag': 1063.9954933333336, 'Kiran More': 0.0, 'Dinesh Mongia': 0.0, 'Sandeep Patil': 0.0, 'Dinesh Karthik': 0.0, 'Navjot Sidhu': 490.1436366666667, 'Ajinkya Rahane': 587.46841, 'KL Rahul': 0.0, 'Nayan Mongia': 205.16821, 'Manoj Prabhakar': 324.78509999999994, 'Mohinder Amarnath': 0.0, 'Praveen Amre': 0.0, 'Sunil Joshi': 0.0, 'Mohammad Azharuddin': 846.2465155555554, 'Robin Singh': 358.72256, 'Venkatesh Prasad': 0.0, 'Ravindra Jadeja': 0.0, 'Yashpal Sharma': 0.0, 'Robin Uthappa': 0.0, 'Suresh Raina': 841.4338074074076, 'Ambati Rayudu': 0.0, 'Vinod Kambli': 0.0, 'Chetan Sharma': 0.0, 'Shikhar Dhawan': 830.1536800000001, 'Saba Karim': 0.0, 'Bhuvneshwar Kumar': 0.0, 'Ajay Sharma': 0.0, 'Sanjay Manjrekar': 410.282875, 'Sachin Tendulkar': 1730.8921186666662, 'Mohammad Kaif': 409.62131999999997, 'Dillip Vengsarkar': 474.11980500000004, 'Yuvraj Singh': 945.4451538461537, 'Hrishikesh Kanitkar': 0.0, 'Nikhil Chopra': 0.0, 'V V S Laxman': 0.0, "Niall O'Brien": 404.107515, 'Gary Wilson': 0.0, 'George Dockrell': 0.0, 'Jeremy Bray': 0.0, 'Andy Balbirnie': 532.396935, 'Andrew White': 0.0, 'Andre Botha': 0.0, 'William Porterfield': 440.43186, 'Paul Stirling': 738.66559, 'Trent Johnston': 0.0, 'William McCallan': 0.0, "Kevin O'Brien": 526.99667, 'John Mooney': 0.0, 'Dave Langford-Smith': 0.0, 'David Obuya': 0.0, 'Maurice Ouma': 0.0, 'Peter Ongondo': 0.0, 'Alex Obanda': 0.0, 'Ravindu Shah': 0.0, 'Collins Obuya': 0.0, 'Thomas Odoyo': 0.0, 'Hiren Varaiya': 0.0, 'Maurice Odumbe': 0.0, 'Tanmay Mishra': 0.0, 'Stephen Tikolo': 362.01506000000006, 'Kennedy Otieno': 0.0, 'James Kamande': 0.0, 'Nehemiah Odhiambo': 0.0, 'Bas Zuiderent': 0.0, 'Eric Szwarczynski': 0.0, 'Peter Borren': 0.0, 'Chris Pringle': 0.0, 'Martin Guptill': 913.0948474074075, 'Matthew Sinclair': 0.0, 'Ross Taylor': 996.261952, 'Shane Thomson': 0.0, 'Jeffrey Crowe': 0.0, 'Martin Crowe': 572.1097466666668, 'Daryl Tuffey': 0.0, 'Warren Lees': 0.0, 'Dipak Patel': 0.0, 'Chris Cairns': 671.2118853333334, 'Scott Styris': 652.6298633333333, 'Jeremy Coney': 331.9483, 'Mitchell Santner': 0.0, 'Gavin Larsen': 0.0, 'Lou Vincent': 404.90626999999995, 'Lance Cairns': 0.0, 'Sir Richard Hadlee': 0.0, 'Colin de Grandhomme': 0.0, 'Kane Williamson': 919.1925733333335, 'Rodney Latham': 0.0, 'Jacob Oram': 412.7678599999999, 'Neil Broom': 0.0, 'Lee Germon': 0.0, 'Robert Nicol': 0.0, 'Luke Ronchi': 0.0, 'Nathan Astle': 697.0860363636365, 'Mark Greatbatch': 476.62165, 'Christopher Nevin': 0.0, 'Jamie How': 0.0, 'Grant Elliott': 0.0, 'Chris Harris': 494.03244000000007, 'Tim Southee': 0.0, 'John Wright': 281.81506666666667, 'Roger Twose': 542.383875, 'Hamish Marshall': 0.0, 'Craig Spearman': 0.0, 'Brendon McCullum': 765.6694133333335, 'Dion Nash': 0.0, 'James Neesham': 0.0, 'Ervin McSweeney': 0.0, 'Colin Munro': 0.0, 'Tom Latham': 551.0177, 'Ian Smith': 0.0, 'Peter Fulton': 0.0, 'Blair Hartland': 0.0, 'Ken Rutherford': 364.859765, 'Andre Adams': 0.0, 'Andrew Jones': 0.0, 'Bryan Young': 0.0, 'Adam Parore': 415.64080333333334, 'Matthew Horne': 0.0, 'Tony Blain': 0.0, 'Glenn Turner': 0.0, 'Henry Nicholls': 0.0, 'Bruce Blair': 0.0, 'Jesse Ryder': 0.0, 'Martin Snedden': 0.0, 'Daniel Vettori': 266.64619000000005, 'Craig McMillan': 551.77064, 'John Bracewell': 0.0, 'Geoff Howarth': 0.0, 'James Franklin': 0.0, 'Stephen Fleming': 742.1320690476191, 'Nathan McCullum': 0.0, 'Bruce Edgar': 0.0, 'Llorne Howell': 0.0, 'Kyle Mills': 0.0, 'Corey Anderson': 0.0, 'Abdul Razzaq': 634.0982559999999, 'Shoaib Akhtar': 0.0, 'Haris Sohail': 0.0, 'Mohammad Wasim': 0.0, 'Nasir Jamshed': 0.0, 'Ahmed Shehzad': 508.374095, 'Younis Khan': 790.5648638888888, 'Junaid Khan': -0.0, 'Naved-ul-Hasan': 0.0, 'Saeed Anwar': 836.3265306666667, 'Fawad Alam': 0.0, 'Sarfaraz Ahmed': 611.19355, 'Zaheer Abbas': 0.0, 'Shoaib Mohammad': 0.0, 'Imran Nazir': 0.0, 'Salman Butt': 0.0, 'Saleem Malik': 650.701368, 'Mohammad Yousuf': 846.204143030303, 'Imad Wasim': 0.0, 'Azhar Ali': 0.0, 'Mohammad Hafeez': 669.7628177777779, 'Umar Gul': 0.0, 'Shahid Afridi': 1287.7365459259258, 'Aamer Malik': 0.0, 'Mohammad Rizwan': 0.0, 'Waqar Younis': 98.47274333333333, 'Basit Ali': 0.0, 'Misbah-ul-Haq': 578.2425966666667, 'Imran Khan': 399.773264, 'Fakhar Zaman': 0.0, 'Yasir Hameed': 0.0, 'Umar Amin': 0.0, 'Saeed Ajmal': 0.0, 'Qasim Omar': 0.0, 'Shadab Khan': 0.0, 'Akram Raza': 0.0, 'Mudassar Nazar': 263.222988, 'Rashid Latif': 218.46357, 'Imam-ul-Haq': 0.0, 'Mushtaq Ahmed': 0.0, 'Arshad Khan': -0.0, 'Aamir Sohail': 340.4353428571428, 'Asif Mujtaba': 0.0, 'Azhar Mahmood': 0.0, 'Imran Farhat': 0.0, 'Umar Akmal': 553.725968, 'Kamran Akmal': 397.50959428571423, 'Manzoor Elahi': 0.0, 'Asad Shafiq': 0.0, 'Saleem Yousuf': 0.0, 'Inzamam-ul-Haq': 896.8094377777777, 'Javed Miandad': 810.7083306666666, 'Moin Khan': 319.3238033333333, 'Wahab Riaz': 0.0, 'Mohsin Khan': 372.69396, 'Babar Azam': 940.3681049999998, 'Wasim Akram': 438.64697619047627, 'Ramiz Raja': 562.6272720000001, 'Mohammad Sami': 0.0, 'Abdul Qadir': 0.0, 'Saqlain Mushtaq': 64.139115, 'Taufeeq Umar': 0.0, 'Shoaib Malik': 1002.4739305555556, 'Mohammad Irfan': -0.0, 'Wajahatullah Wasti': 0.0, 'Matthew Cross': 0.0, 'Navdeep Poonia': 0.0, 'Craig Wright': 0.0, 'Calum MacLeod': 0.0, 'Fraser Watts': 0.0, 'Ryan Watson': 0.0, 'Douglas Brown': 0.0, 'Neil McCallum': 0.0, 'Richard Berrington': 0.0, 'George Munsey': 0.0, 'Rana Haq': 0.0, 'Colin Smith': 0.0, 'John Blain': 0.0, 'Andrew Hudson': 415.5985749999999, 'Jean-Paul Duminy': 841.0169066666666, 'Hashim Amla': 1080.417704, 'Neil McKenzie': 0.0, 'Mark Boucher': 584.0499555555555, 'Jacques Kallis': 1070.3461911111112, 'Pat Symcox': 0.0, 'Johan Botha': 0.0, 'Aiden Markram': 0.0, 'Adrian Kuiper': 0.0, 'Nico Boje': 0.0, 'Boeta Dippenaar': 0.0, 'Albie Morkel': 0.0, 'Graeme Smith': 810.3452945454545, 'Ashwell Prince': 0.0, 'Jacques Rudolph': 0.0, 'Lance Klusener': 638.7968266666666, 'Rilee Rossouw': 0.0, 'David Miller': 602.03286, 'Hansie Cronje': 742.8795266666666, 'Colin Ingram': 0.0, 'Shaun Pollock': 510.2813696969697, 'Eric Simons': 0.0, 'Jonty Rhodes': 694.0942640000001, 'Justin Kemp': 0.0, 'Peter Kirsten': 0.0, 'Faf du Plessis': 1043.5042933333334, 'Daryll Cullinan': 414.40555714285716, 'Herschelle Gibbs': 816.9293527272728, 'Farhaan Behardien': 0.0, 'Gary Kirsten': 726.4970566666666, 'Brian McMillan': 0.0, 'Fanie De Villiers': 0.0, 'Rassie van der Dussen': 0.0, 'Quinton de Kock': 873.12024, 'David Richardson': 0.0, 'Andile Phehlukwayo': 0.0, 'Robin Peterson': 0.0, 'Andrew Hall': 0.0, 'Ryan McLaren': 0.0, 'Lonwabo Tsotsobe': 0.0, 'Michael Rindel': 0.0, 'Kepler Wessels': 349.0303833333333, 'Heinrich Klaasen': 0.0, 'A B de Villiers': 1550.7966084848485, 'Thilina Kandamby': 0.0, 'Kusal Mendis': 476.06006, 'Angelo Mathews': 844.6786311111113, 'Chandika Hathurusingha': 0.0, 'Thilan Thushara': 0.0, 'Danushka Gunathilaka': 0.0, 'Jeevan Mendis': 0.0, 'Somachandra De Silva': 0.0, 'Ashan Priyanjan': 0.0, 'Thisara Perera': 417.3550085714286, 'Jehan Mubarak': 0.0, 'Amal Silva': 0.0, 'Dimuth Karunaratne': 0.0, 'Sanath Jayasuriya': 1351.2150322222221, 'Sidath Wettimuny': 0.0, 'Tillakaratne Dilshan': 1088.5740083333333, 'Niroshan Dickwella': 0.0, 'Avishka Fernando': 0.0, 'Duleep Mendis': 0.0, 'Ravi Ratnayeke': 0.0, 'Hashan Tillakaratne': 432.43621333333334, 'Lasith Malinga': 63.320474999999995, 'Milinda Siriwardana': 0.0, 'Suranga Lakmal': 0.0, 'Russel Arnold': 608.2819833333333, 'Kumar Sangakkara': 1564.8754829166664, 'Isuru Udana': 0.0, 'Muttiah Muralitharan': 91.51676571428573, 'Lahiru Thirimanne': 464.1156, 'Roy Dias': 0.0, 'Ranjan Madugalle': 0.0, 'Ajantha Mendis': 0.0, 'Nuwan Zoysa': 0.0, 'Brendon Kuruppu': 0.0, 'Sachithra Senanayake': 0.0, 'Upul Chandana': 253.65889499999997, 'Arjuna Ranatunga': 902.0634583333334, 'Chaminda Vaas': 161.70761481481483, 'Graeme Labrooy': 0.0, 'Rumesh Ratnayake': 0.0, 'Ruwan Kalpage': 0.0, 'Asanka Gurusinha': 269.2734971428571, 'Dinesh Chandimal': 441.8230257142858, 'Aravinda de Silva': 916.8005102564102, 'Avishka Gunawardene': 0.0, 'Farveez Maharoof': 0.0, 'Mahela Jayawardene': 1180.010851764706, 'Thilan Samaraweera': 0.0, 'Chamara Silva': 0.0, 'Pramodya Wickremasinghe': 0.0, 'Chamara Kapugedera': 0.0, 'Asela Gunaratne': 0.0, 'Nuwan Kulasekara': 208.55331666666666, 'Shaul Karnain': 0.0, 'Marvan Atapattu': 672.1298133333335, 'Upul Tharanga': 698.1062213333335, 'Roshan Mahanama': 476.1178311111112, 'Kumar Dharmasena': 253.49426000000003, 'Kusal Perera': 529.264428, 'Dhananjaya de Silva': 0.0, 'Dilhara Fernando': 0.0, 'Romesh Kaluwitharana': 412.7910033333334, 'W Jayantha': 0.0, 'Akila Dananjaya': 0.0, 'Rohan Mustafa': 0.0, 'Adnan Mufti': 0.0, 'Muhammad Usman': 0.0, 'Xavier Marshall': 0.0, 'Andre Russell': 0.0, 'Jason Mohammed': 0.0, 'Larry Gomes': 0.0, 'Devon Smith': 0.0, 'Shai Hope': 0.0, 'Nehemiah Perry': 0.0, 'Courtney Walsh': 0.0, 'Ashley Nurse': 0.0, 'Ramnaresh Sarwan': 789.7021166666667, 'Denesh Ramdin': 411.12290333333334, 'Philip Simmons': 430.63062571428566, 'Narsingh Deonarine': 0.0, 'Rovman Powell': 0.0, 'Jeff Dujon': 243.82098333333334, 'Nicholas Pooran': 0.0, 'Dwayne Bravo': 408.13354285714286, 'Kieran Powell': 0.0, 'Curtly Ambrose': 97.114724, 'Merwyn Dillon': 0.0, 'Carl Hooper': 667.011437037037, 'Shimron Hetmeyer': 0.0, 'Roger Harper': 0.0, 'Carlos Brathwaite': 0.0, 'Keith Arthurton': 387.338505, 'Gus Logie': 368.5146285714286, 'Jonathan Carter': 0.0, 'Shivnarine Chanderpaul': 838.2401624242425, 'Sunil Narine': 0.0, 'Sherwin Campbell': 352.718705, 'Desmond Haynes': 693.0275680000001, 'Sir Viv Richards': 833.548457142857, 'Sewnarine Chattergoon': 0.0, 'Lendl Simmons': 0.0, 'Darren Ganga': 0.0, 'Evin Lewis': 0.0, 'Malcolm Marshall': 0.0, 'Carlton Baugh': 0.0, 'Johnson Charles': 0.0, 'Courtney Browne': 0.0, 'Jason Holder': 484.802124, 'Darren Bravo': 376.470095, 'Kemar Roach': 0.0, 'Gordon Greenidge': 611.7948299999999, 'Ricardo Powell': 418.73596, 'Franklyn Rose': 0.0, 'Brian Lara': 1055.3059357142859, 'Marlon Samuels': 583.0184770370372, 'Reon King': -0.0, 'Runako Morton': 0.0, 'Richard Gabriel': 0.0, 'Wavell Hinds': 371.5273533333333, 'Clive Lloyd': 0.0, 'Jimmy Adams': 281.2631266666666, 'Nixon McLean': 0.0, 'Ridley Jacobs': 281.50256, 'Kieron Pollard': 509.25651, 'Richie Richardson': 506.46653599999996, 'Dwayne Smith': 278.85682499999996, 'Ian Bradshaw': 0.0, 'Stuart Williams': 0.0, 'Darren Sammy': 417.92168499999997, 'Vasbert Drakes': 0.0, 'Chris Gayle': 1137.3369066666667, 'Hamilton Masakadza': 530.0289386666667, 'Brendan Taylor': 644.5697973333333, 'Andrew Whittall': 0.0, 'Guy Whittall': 282.43748666666664, 'Sean Williams': 532.6487400000001, 'Douglas Marillier': 0.0, 'Andrew Flower': 687.9333007407407, 'Sikandar Raza': 0.0, 'Mark Vermeulen': 0.0, 'Craig Evans': 0.0, 'Dion Ebrahim': 0.0, 'Ray Price': 0.0, 'Sean Ervine': 0.0, 'Heath Streak': 306.86866, 'Kyle Jarvis': 0.0, 'Charles Coventry': 0.0, 'Vusi Sibanda': 379.06982666666664, 'Solomon Mire': 0.0, 'David Houghton': 0.0, 'Andy Blignaut': 0.0, 'Blessing Muzarabani': -0.0, 'Elton Chigumbura': 520.3441540740741, 'Murray Goodwin': 0.0, 'Gary Brent': 0.0, 'Luke Jongwe': 0.0, 'Blessing Mahwire': 0.0, 'Peter Moor': 0.0, 'Tendai Chatara': -0.0, 'Neil Johnson': 0.0, 'Paul Strang': 0.0, 'Malcolm Waller': 0.0, 'Prosper Utseya': 147.81368, 'Alistair Campbell': 360.1969771428571, 'Terry Duffin': 0.0, 'Mluleki Nkala': 0.0, 'Travis Friend': 0.0, 'Tawanda Mupariwa': 0.0, 'Stuart Matsikenyeri': 0.0, 'Craig Ervine': 390.50323999999995, 'Craig Wishart': 0.0, 'Douglas Hondo': 0.0, 'Stuart Carlisle': 0.0, 'Justice Chibhabha': 0.0, 'Grant Flower': 611.3158766666667, 'Tinashe Panyangara': 0.0, 'Graeme Cremer': 116.93701, 'Tatenda Taibu': 381.9649266666666, 'Richmond Mutumbami': 0.0, 'Dirk Viljoen': 0.0, 'Piet Rinke': 0.0}

In [256]:
data_items = impact.items()
data_list = list(data_items)

df = pd.DataFrame(data_list,columns = ["Name","Points"])
print(df)

                     Name      Points
0             Karim Sadiq    0.000000
1    Hashmatullah Shahidi    0.000000
2             Rahmat Shah    0.000000
3           Asghar Afghan  323.404647
4      Samiullah Shinwari    0.000000
..                    ...         ...
672         Graeme Cremer  116.937010
673         Tatenda Taibu  381.964927
674    Richmond Mutumbami    0.000000
675          Dirk Viljoen    0.000000
676            Piet Rinke    0.000000

[677 rows x 2 columns]

In [257]:
df.sort_values("Points", axis = 0, ascending = False, 
                 inplace = True)
print(df)

                  Name       Points
266   Sachin Tendulkar  1730.892119
521   Kumar Sangakkara  1564.875483
495    A B de Villiers  1550.796608
226        Virat Kohli  1544.026818
230          M S Dhoni  1360.355941
..                 ...          ...
263  Bhuvneshwar Kumar     0.000000
262         Saba Karim     0.000000
260      Chetan Sharma     0.000000
259       Vinod Kambli     0.000000
676         Piet Rinke     0.000000

[677 rows x 2 columns]

In [258]:
df.head(20)

                     Name       Points
266      Sachin Tendulkar  1730.892119
521      Kumar Sangakkara  1564.875483
495       A B de Villiers  1550.796608
226           Virat Kohli  1544.026818
230             M S Dhoni  1360.355941
509     Sanath Jayasuriya  1351.215032
395         Shahid Afridi  1287.736546
66         Michael Hussey  1255.274670
176           Eoin Morgan  1198.258033
542    Mahela Jayawardene  1180.010852
626           Chris Gayle  1137.336907
209          Rohit Sharma  1116.225941
64          Ricky Ponting  1104.606471
511  Tillakaratne Dilshan  1088.574008
453           Hashim Amla  1080.417704
456        Jacques Kallis  1070.346191
238       Virender Sehwag  1063.995493
609            Brian Lara  1055.305936
477        Faf du Plessis  1043.504293
435          Shoaib Malik  1002.473931